:root {	
	background-color: #131516;
}

* {
	color: #FFFFFF;
	font-style: normal;
	font-variant: normal;
	font-family: "JetBrains Mono";
}

body {
	margin: 2em 2em 2em 2em;
}

h1 {
	font-size: 4vh;
	font-weight: 1000;
	line-height: 40px;
}

h3 { 
	color: #E0E0E0;
	font-size: 16px;
	font-weight: 200;
} 

h4 {
	font-size: 16px;
	font-weight: 600;
	padding-top: 3vh;
} 

li {
	font-size: 14px;
	color: #E0E0E0;
	font-weight: 400;
	line-height: 18px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	background: rgb(31, 27, 27);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(66, 60, 60);
}

::-moz-scrollbar {
	width: 10px;
}

::-moz-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

::-moz-scrollbar-thumb {
	background: rgb(31, 27, 27);
}

::-moz-scrollbar-thumb:hover {
	background: rgb(66, 60, 60);
}
