@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
	*:focus-visible {
		@apply outline-none ring-2 ring-offset-3 ring-offset-neutral-50 dark:ring-offset-neutral-900 ring-blue-500;
	}
}

@font-face {
	font-family: "Berkeley Mono";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("/fonts/berkeley-normal.woff2") format("woff2");
}

@font-face {
	font-family: "Berkeley Mono";
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url("/fonts/berkeley-bold.woff2") format("woff2");
}

@theme {
	--font-sans: "Work Sans Variable", "Arial", "sans-serif";
	--font-serif: "Crimson Pro", "serif";
	--font-mono: "Berkeley Mono", "monospace";
	--breakpoint-xs: 28rem;
}
