---
import Layout from '@/layouts/Layout.astro'
import loc from '@/utils/locale'
---

<Layout title={loc('404.title')} desc={loc('404.message')}>
	<div class={`
		w-fit mx-auto text-center mt-20 p-6 rounded-lg
		border border-neutral-200 dark:border-neutral-700
	`}>
		<h1 class="text-3xl font-bold">{loc('404.title')}</h1>
		<p class="mt-2">{loc('404.message')}</p>
	</div>
</Layout>
