---
import loc from '@/utils/locale'
import Layout from '@/layouts/Layout.astro';
import Project from '@/components/Project.astro';
import {
	Github,
	Githubactions,
	Go,
	Kubernetes,
	Linkedin,
	Mongodb,
	Postgresql,
	React,
	Remix,
	Rust,
	Typescript,
	X
} from 'simple-icons-astro'

const desc = [
	'I\'m Aarnav, a student and software engineer based in Washington, D.C.',
	'I specialize in building low-level backend systems and DevOps.',
	'I also enjoy working on open-source projects and contributing to the community.',
].join(' ');
---

<Layout desc={desc}>
	<p>
		{loc('home.intro1')}
		{loc('home.intro2')}
		{loc('home.intro3')}
	</p>
	<br />
	<p>
		{loc('home.intro4')}
		{loc('home.intro5')}
		{loc('home.intro6')}
	</p>

	<hr class="mt-2" />
	<h2 class="font-serif text-2xl my-4">
		{loc('home.current.header')}
	</h2>
	<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
		<Project
			name="Canister"
			description="High-speed search engine and analytics aggregator for iOS APT repositories"
			link="https://canister.me"
			icons={[Rust, Go, Typescript, Postgresql, Kubernetes]}
		/>
		<Project
			name="kubectl-action"
			description="GitHub Action to interact with Kubernetes clusters using kubectl"
			link="https://github.com/tale/kubectl-action"
			icons={[Typescript, Githubactions, Kubernetes]}
		/>
		<Project
			name="Headplane"
			description="A proper management plane for Headscale, the self-hosted Tailscale controller"
			link="https://github.com/tale/headplane"
			icons={[Remix, React, Typescript]}
		/>
		<Project
			name="Chariz"
			description="Enabling developers to easily sell and distribute their software on iOS"
			link="https://chariz.com"
			icons={[Typescript, Mongodb, React, Kubernetes]}
		/>
	</div>
	<p class="my-4 text-sm" set:html={loc(
		'home.current.footer',
		'/portfolio#projects',
		loc('links.github'),
	)} />
	<hr class="my-2" />
	<div>
		<a
			href={loc('links.github')}
			target="_blank"
			rel="noreferrer"
		>
			<Github size={24} class="inline-block mr-2" />
		</a>
		<a
			href={loc('links.x')}
			target="_blank"
			rel="noreferrer"
		>
			<X size={24} class="inline-block mr-2" />
		</a>
		<a
			href={loc('links.linkedin')}
			target="_blank"
			rel="noreferrer"
		>
			<Linkedin size={24} class="inline-block mr-2" />
		</a>
	</div>
</Layout>
