---
import Layout from '@/layouts/Layout.astro';
import Project from '@/components/Project.astro';
import {
	Github,
	Githubactions,
	Go,
	Kubernetes,
	Linkedin,
	Mongodb,
	Postgresql,
	React,
	Remix,
	Rust,
	Typescript,
	X
} from 'simple-icons-astro'

const desc = [
	'I\'m Aarnav, a student and software engineer based in Washington, D.C.',
	'I specialize in building low-level backend systems and DevOps.',
	'I also enjoy working on open-source projects and contributing to the community.',
].join(' ');
---

<Layout desc={desc}>
	<p>
		Hey! I'm Aarnav, a software engineer based in Washington, D.C.
		I specialize in building low-level backend systems and DevOps.
		I'm currently working on my Bachelor's degree in Computer Science at George Mason University in Fairfax, VA.
	</p>
	<br />
	<p>
		You may have seen me around the internet as I maintain and contribute to a few open-source projects.
		I work on whatever interests me or serves to improve my own workflows.
		Outside of programming, I value spending time outdoors.
	</p>

	<hr class="mt-2" />
	<h2 class="font-serif text-2xl my-4">Current Projects</h2>
	<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
		<Project
			name="Canister"
			description="High-speed search engine and analytics aggregator for iOS APT repositories"
			link="https://canister.me"
			icons={[Rust, Go, Typescript, Postgresql, Kubernetes]}
		/>
		<Project
			name="kubectl-action"
			description="GitHub Action to interact with Kubernetes clusters using kubectl"
			link="https://github.com/tale/kubectl-action"
			icons={[Typescript, Githubactions, Kubernetes]}
		/>
		<Project
			name="Headplane"
			description="A proper management plane for Headscale, the self-hosted Tailscale controller"
			link="https://github.com/tale/headplane"
			icons={[Remix, React, Typescript]}
		/>
		<Project
			name="Chariz"
			description="Enabling developers to easily sell and distribute their software on iOS"
			link="https://chariz.com"
			icons={[Typescript, Mongodb, React, Kubernetes]}
		/>
	</div>
	<p class="my-4 text-sm">
		View
		{' '}
		<a
			href="/portfolio#projects"
			class="underline"
		>
			all projects
		</a>
		{' '}
		or visit my
		{' '}
		<a
			class="underline"
			href="https://github.com/tale"
			target="_blank"
			rel="noreferrer"
		>
			GitHub
		</a>
		{' '}
		profile.
	</p>
	<hr class="my-2" />
	<div>
		<a
			href="https://github.com/tale"
			target="_blank"
			rel="noreferrer"
		>
			<Github size={24} class="inline-block mr-2" />
		</a>
		<a
			href="https://x.com/aarnavtale"
			target="_blank"
			rel="noreferrer"
		>
			<X size={24} class="inline-block mr-2" />
		</a>
		<a
			href="https://linkedin.com/in/aarnavtale"
			target="_blank"
			rel="noreferrer"
		>
			<Linkedin size={24} class="inline-block mr-2" />
		</a>
	</div>
</Layout>
