---
import Link from "@/components/link.astro";
import Site from "@/layouts/site.astro";
import Projects from "@/components/projects.astro";
import Credentials from "@/components/credentials.astro";
---

<Site title="Portfolio" desc="Aarnav Tale's personal portfolio.">
	<p>
		A small snippet of my resume and a list of publicly available projects that
		I have worked on. If you are a recruiter looking to get in touch, please
		email me at
		<Link external to="mailto:aarnav@tale.me">[aarnav@tale.me ->]</Link>.
	</p>
	<br />
	<Credentials />
	<br />
	<Projects />
</Site>
