---
import RouteLink from '@/components/RouteLink.astro'
---

<div class="flex items-center justify-between pr-2">
	<h1 class="text-3xl font-serif">
		Aarnav Tale
	</h1>
	<div class="flex items-center gap-4">
		<RouteLink href="/" name="Home" />
		<RouteLink href="/blog" name="Blog" />
		<RouteLink href="/portfolio" name="Portfolio" />
	</div>
</div>
<hr class="my-2" />
