<div class="flex items-center justify-between pr-2">
	<h1 class="text-3xl font-serif">
		Aarnav Tale
	</h1>
	<div class="flex items-center gap-4">
		<a href="/" class="font-bold">Home</a>
		<a href="/blog" class="font-bold">Blog</a>
		<a href="/portfolio" class="font-bold">Portfolio</a>
	</div>
</div>
<hr class="my-2" />
