---
import RouteLink from '@/components/RouteLink.astro'
---

<div class="grid grid-cols-1 xs:grid-cols-2 gap-1">
	<h1 class="text-2xl font-bold">
		Aarnav Tale
	</h1>
	<div class="flex xs:justify-end items-center gap-4 font-mono">
		<RouteLink href="/" name="Home" />
		<RouteLink href="/blog/" name="Blog" />
		<RouteLink href="/portfolio/" name="Portfolio" />
	</div>
</div>
<hr class="my-4" />
