---
import { Icon } from "astro-icon/components";

const iconsMap = {
	"logos:typescript-icon": "TypeScript",
	"logos:rust": "Rust",
	"logos:go": "Golang",
	"logos:postgresql": "PostgreSQL",
	"logos:kubernetes": "Kubernetes",
	"logos:docker-icon": "Docker",
	"logos:github-actions": "GitHub Actions",
	"logos:react": "React",
	"logos:react-router": "React Router",
	"logos:mongodb-icon": "MongoDB",
	"logos:c": "C",
	"logos:opengl": "OpenGL",
	"logos:homebrew": "Homebrew",
	"logos:java": "Java",
	"logos:spring-icon": "Spring Boot",
	"logos:cloudflare-workers-icon": "Cloudflare Workers",
	"logos:swift": "Swift",
	"logos:macos": "macOS",
	"logos:visual-studio-code": "Visual Studio Code",
	"logos:xcode": "Xcode",
	"logos:c-sharp": "C#",
	"logos:dotnet": ".NET",
	"material-icon-theme:nix": "Nix",
	"logos:git-icon": "Git",
	"logos:obsidian-icon": "Obsidian",
	"logos:vim": "Vim",
	"logos:javascript": "JavaScript",
	"simple-icons:zedindustries": "Zed",
	"devicon:neovim": "Neovim",
	"simple-icons:tmux": "Tmux",
} as const;

interface Props {
	name: string;
	size?: number;
}

const { name, size = 20 } = Astro.props;
if (!iconsMap[name as keyof typeof iconsMap]) {
	throw new Error(`Icon "${name}" not found`);
}
---

<button class={`
	flex gap-4 group items-center justify-center
	focus-visible:ring-offset-neutral-200 rounded-xs
	dark:focus-visible:ring-offset-neutral-700
`}>
	<Icon name={name} size={size} />
	<div class={`
		hidden absolute group-hover:block group-focus-within:block
		z-10 mb-20 shadow-xs font-mono ring-offset-neutral-300
		bg-neutral-300 dark:bg-neutral-700 rounded-lg px-2 py-1
		border border-neutral-400/50 dark:border-neutral-600/50
	`}
	>
		<p>{iconsMap[name as keyof typeof iconsMap]}</p>
	</div>
</button>
