---
import IconButton from './IconButton.astro'

interface Props {
	name: string
	description: string
	link: string
	icons: string[]
}

const { name, description, link, icons } = Astro.props;
---

<a href={link} target="_blank" rel="noreferrer">
	<div class={`
		border duration-100 p-4 rounded-lg
		border-neutral-200 dark:border-neutral-700
		hover:bg-neutral-100 dark:hover:bg-neutral-800
		w-full h-full
	`}
	>
		<div class="flex justify-between items-start mb-3">
			<h3 class="font-mono font-bold text-lg">{name}</h3>
			<div
				class={`
					inline-flex gap-1.5 items-center py-1 px-1.5 rounded-md
					bg-neutral-200 dark:bg-neutral-700
				`}
			>
				{icons.map(name => (
					<IconButton name={name} size={20} />
				))}
			</div>
		</div>
		<p>
			{description}
		</p>
	</div>
</a>
