---
import { getCollection } from "astro:content";
import IconButton from "@/components/icon-button.astro";
import Link from "@/components/link.astro";

const projects = await getCollection("projects");
---

<h2 class="mb-1.5 font-bold">Projects</h2>
<ul class="list-inside space-y-1.5">
	{
		projects.map(({ data }) => (
			<li class="flex w-full items-start justify-between gap-4">
				<span>
					{data.link ? (
						<Link external to={data.link}>
							[{data.name} ->]
						</Link>
					) : (
						data.name
					)}
					<br class="sm:hidden" />
					{data.description}
				</span>

				<span class="flex gap-1 pt-0.5">
					{data.icons.sort().map((icon) => (
						<IconButton name={icon} />
					))}
				</span>
			</li>
		))
	}
</ul>
