---
interface Props {
	name: string
	description: string
	link: string
	icons: Function[]
}

const { name, description, link, icons } = Astro.props;
---

<a href={link} target="_blank" rel="noreferrer">
	<div class={`
		border duration-100 p-4 rounded-sm
		border-neutral-200 dark:border-neutral-700
		hover:bg-neutral-100 dark:hover:bg-neutral-800
		w-full h-full
	`}
	>
		<div class="flex justify-between items-baseline mb-3">
			<h3 class="font-bold">{name}</h3>
			<div>
				{icons.map((Icon, index) => (
					<Icon key={index} size={16} class="inline-block mr-1" />
				))}
			</div>
		</div>
		<p>
			{description}
		</p>
	</div>
</a>
