---
interface Props {
	href: string;
	name: string;
}

const { href, name } = Astro.props
const path = Astro.url.pathname

// We need this because of how the homepage is '/'
// Also this code is so unbelievably ugly (wtf)
const isCurrent = href === '/'
	? path === '/'
	: path.endsWith('/')
		? path.startsWith(href)
		: `${path}/`.startsWith(href)
---

<a
	href={href}
	class={isCurrent ? 'font-bold underline' : 'hover:underline'}
>
	{name}
</a>
