---
import { Icon } from 'astro-icon/components';

interface Props {
	name: string;
	year: number;
	icon: string;
}

const { name, year, icon } = Astro.props

const years = () => {
	const currentYear = new Date().getFullYear()
	const diff = currentYear - year

	if (diff === 0) {
		return '<1 year'
	}

	if (diff === 1) {
		return '1 year'
	}

	return `${diff.toString()} years`
}
---

<div class="flex items-center gap-4">
	<Icon name={icon} size={24} />
	<div>
		<h3 class="font-mono font-bold">{name}</h3>
		<p class="font-mono">{years()}</p>
	</div>
</div>
