---
import { Icon } from 'astro-icon/components'

interface Props {
	name: string;
	year: number;
	icon: string;
}

const { name, year, icon } = Astro.props

const years = () => {
	const currentYear = new Date().getFullYear()
	const diff = currentYear - year

	if (diff === 0) {
		return '<1 year'
	}

	if (diff === 1) {
		return '1 year'
	}

	return `${diff.toString()} years`
}
---

<div class="flex gap-4 group items-center justify-center">
	<Icon name={icon} size={24} />
	<div class={`
		hidden absolute group-hover:block z-10 mb-20 shadow-xs font-mono
		bg-neutral-300 dark:bg-neutral-700 rounded-lg px-2 py-1
		border border-neutral-400/50 dark:border-neutral-600/50
	`}
	>
		<p>
			{name}
			{' '}
			{`(${years()})`}
		</p>
	</div>
</div>
